@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);

  --Verydarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --blackOpacity75: hsl(0, 0%, 0%);
}

h1{
    font-size: 3em;
    margin-top: 0;
}

h2{
    color: var(--Darkgrayishblue);
    text-transform: uppercase;
    font-size: 1em;
}

h3{
    font-size: 2em;
    margin: 0;
}

h4{
    text-decoration: line-through;
    color: var(--Darkgrayishblue);
    margin-block: .8em;
}

p{
    color: var(--Darkgrayishblue);
}

img{
    cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body{
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    border-bottom: 1px solid;
    width: 70%;
    position: fixed;
    top: 0;
}

header a{
    text-decoration: none;
    color: var(--Darkgrayishblue);
    font-weight: 600;
}

header a img{
    margin-right: 3em;
}

.headerLeft{
    display: flex;
    gap: 2em;
}

.headerRight{
    display: flex;
    align-items: center;
    margin-right: -3em;
}



main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 5em;
}

footer{
    position: fixed;
    bottom: 1em;
}

button{
    cursor: pointer;
}

.leftTop{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.leftTop img{
    width: 30em;
    border-radius: 1em;
}

.carousel{
    display: flex;
    gap: 2em;
}

.carousel img{
    width: 6em;
}

.thumbnail:hover{
    border: .2em solid orange;
    scale: 110%;
}

.rightBottom{
    flex: 1;
}

.btnWrapper{
    display: flex;
    gap: 1em;
    padding-top: 1.5em;
}

#avatarLogo{
    width: 3.5em;
}

#addBtn{
    background-color: var(--orange);
    border-radius: .6em;
    border:none;
    width: 15em;
    font-size: 1.1em;
    font-weight: 700;
    height: 3em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

#addBtn:hover{
    background-color: hsla(26, 100%, 36%, 0.84);
}

#addBtn:active{
    scale: 99%;
}

#addBtn img{
    width: 1.2em;
    filter: brightness(0);
}

#counter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10em;
    background-color: var(--Lightgrayishblue);
    border-radius: .6em;
}

#counter span{
    font-weight: 700;
}

#minusBtn{
    transform: translateY(-.25em);
}

#price{
    display: flex;
    align-items: center;
    gap: 1em;
}

#price span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4em;
    width: 3.2em;
    height: 1.5em;
    background-color: black;
    color: white;
    font-weight: 700;
}

.cntBtn:active{
    filter: brightness(.8);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
